<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Excel Test Suite">
    <test name="Excel Test">
        <classes>
            <class name="com.Exelenter.class05._02_AddEmployeeFromExcel">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>